#layout {
  height: 100vh;
}

.side--bar--content {
  background-color: white !important;

}
.ant-layout-sider-zero-width-trigger,.ant-layout-sider-zero-width-trigger-left{
  background-color: #fd7014 !important;
}

.logo {
  width: 300;
  height: 9%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu {
  background-color: white !important;
}

.header {
  background-color: white;
}
